.react-flow-with-provider {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.react-flow {
  width: 65%;
}

.react-flow__node {
  color: #404040;
  font-family: 'Nunito', sans-serif;
  border: 1.5px solid lightgray;
  border-radius: 3px;
  box-shadow: none !important;
  outline: none !important;
}

.content-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-body {
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 35px;
}

.content-h2 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

.autocomplete {
  width: 100%;
}

.autocomplete-searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.autocomplete-input {
  font-family: 'Nunito', sans-serif;
  height: 30px;
  width: 100%;
  padding: 2px 12px 2px 12px;
  border: 1px solid gray;
  border-radius: 5px;
}

.autocomplete-input:focus {
  border: 1px solid dodgerblue;
  outline: 1px solid dodgerblue;
}

.autocomplete-img {
  padding-top: 8px;
  width: 18px;
  height: 18px;
  object-fit: cover;
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.suggestions {
  position: relative;
  height: 100%;
  width: calc(100%);
  margin-top: 0;
  padding: 6.5px;
  border: 1px solid gray;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.suggestion {
  list-style: none;
  padding: 2px;
}

.suggestion-active {
  list-style: none;
  padding: 2px;
}

.suggestion-active span {
  list-style: none;
  border-bottom: 2px solid dodgerblue;
  text-decoration: none;
}

.react-flow__handle {
  opacity: 0;
}

.react-flow__handle-bottom {
  opacity: 0;
}

.sidebar-link:hover {
  color: dodgerblue;
}

.highlight:hover {
  color: dodgerblue;
}

.hoverable:hover {
  fill: dodgerblue !important;
}
