.dndflow {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.sidebar {
  border-right: 1px solid #eee;
  padding: 50px;
  font-size: 12px;
  background: #fcfcfc;
  width: 25%;
}

.sidebar-header {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar-body {
  font-size: 1.3em;
}

.sidebar-section {
  margin-bottom: 40px;
}

.react-flow {
  width: 75% !important;
}

.reactflow-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.react-flow__edge-interaction {
  stroke: red !important;
}

/*@media screen and (min-width: 768px) {*/
/*  .aside {*/
/*    width: 20%;*/
/*    max-width: 180px;*/
/*  }*/

/*  .dndflow {*/
/*    flex-direction: row;*/
/*  }*/
/*}*/